//
//  Local.xcconfig.tmpl
//

//
// To override build settings in local environment, rename this file to Local.xcconfig.
// The non-template file is ignored by git and should not be committed.
//

// Some examples:
//CURRENT_PROJECT_VERSION
//MARKETING_VERSION
